<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/attach/attach.js"></script>
    <title>Python Terminal by Code Institute</title>
</head>

<body>
    <div id="container">
        <h1>Portfolio Tracker</h1>
        <div id="terminal"></div>
        <button onclick="window.location.reload()">Restart Program</button>
    </div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        if ($(window).width() < 820) {
            term = new Terminal({
                cols: 40,
                rows: 24
            });
        };
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>

</html>